BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
IOBUF PORT "A" IO_TYPE=LVCMOS33 ;
IOBUF PORT "B" IO_TYPE=LVCMOS33 ;
IOBUF PORT "Cout" IO_TYPE=LVCMOS33 ;
IOBUF PORT "Sum" IO_TYPE=LVCMOS33 ;
LOCATE COMP "A" SITE "M7" ;
LOCATE COMP "B" SITE "M8" ;
LOCATE COMP "Cout" SITE "M12" ;
LOCATE COMP "Sum" SITE "N13" ;
